.Meaning .definition {
    color: darkblue;
    font-size: 18px;
    margin-top: 10px;
    
}

.Meaning .example {
    font-style: italic;
}

.Meaning h4 {
    font-size: 18px;
    font-weight: bold;
}