
.Phonetic {
    height: 50px;  
}

.Phonetic a {
    border: 3px solid blue;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    margin-right: 12px;
    font-weight: bold;
}

.Phonetic a:hover {
    background-color: blue;
    color: aliceblue;
}

.Phonetic .sounds {
    font-weight: bold;
}